/* SimpleLoader.css */
.loader {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.loaderLine {
  width: 100%;
  height: 100%;
  background-color: #007bff;
  animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}