.div {
  max-width: 350px;
  padding: 15px;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column; 

  align-items: center;
  gap: 10px;

  outline: 3px solid blue;  
}

.header {
    margin: 5px;
    text-align: center;
}

.search {    
    display: flex;
    gap: 10px
    
}

.reset {
   
}
