.div {
    height: 95vh;

    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.link {    
    padding: 15px;

    color: #000;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;    
}